.account__list {
  min-height: 200px !important;
}

.account__input {
  margin-left: 8px !important;
  margin-bottom: 8px !important;
}

.account__addr {
  min-width: 300px !important;
}

.account__back {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}