.accomm__list {
  min-height: 200px !important;
}

.accomm__input {
  margin-left: 8px !important;
  margin-bottom: 8px !important;
}

.accomm__back {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}