.app {
  height: 100% !important;
}

.app__body {
  max-width: 95% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  overflow-y: auto !important;
  height: 70% !important;
}
