@font-face {
    font-family: 'b yekan';
    src: url('../asset/BYekan.eot') format('eot'),  /* IE6,8 */
    url('../asset/BYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../asset/BYekan.ttf') format('truetype');  /* Saf3?5, Chrome4+, FF3.5, Opera 10+ */
}

html, body, main, #root {
  max-height: 100%;
  height: 100%;
}

#root {
  position: fixed;
  width: 100%;
}

body {
  direction: rtl;
}

* {
  unicode-bidi: embed;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ui.input input {
  text-align: initial !important;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.ui.form  {
  text-align: right !important;
}

.ui.modal .header {
  text-align: right !important;
}
.ui.modal > .header {
  background-color: dodgerblue !important;
  color : white !important;
}
.ui.modal > .actions {
  text-align: left !important;
  background-color: #e4e4e4 !important;
}
.ui.modal .content {
  text-align: right !important;

}

.ui.modal .actions {
  text-align: left !important;
}

.ui.message .content {
  text-align: right;
  white-space: pre-wrap;
}

.ui.selection.dropdown {
  text-align: right !important;
}

.ui.selection.dropdown .item {
  text-align: right !important;
}

.ui.modal .description {
  white-space: pre-wrap !important;
  max-width: 100%;
}

tfoot th {
  text-align: right !important;
}

table {
  background-color: white !important;
}