.app__header {
  text-align: right;
  height: 17% !important;
  background-color: dodgerblue !important;
  border-radius: 20px !important;
  padding-top: 26px !important;
  margin: 10px !important;

}

.app__header__title {
  color: white !important;
  font-size: 2rem !important;
}

.app__header__training {
  font-size: 2rem !important;
}

.app__header__column__logo {
  width: 100px !important;
   border-radius: 10% !important;
  height: 70px !important;
}
.app__header__logo__big {
  width: 400px !important;
   border-radius: 10% !important;
  height: 400px !important;
  text-align: center;
  margin: auto;
}

.app__header__column {
  width: 20% !important;
}
.app__header__column__return {
  width: 20% !important;
}
.app__logo__modal {
  width: 600px !important;
  text-align: center !important;
}
.app__header__video {
  width: 500px !important;
  height: 400px !important;
}