.mainpanel {
  margin-right: 16px !important;
  margin-top: 8px !important;
  max-width: 95% !important;
}

.mainpanel__user {
  float: left;
}

.mainpanel__button {
  min-height: 100px !important;
  min-width: 350px !important;
  margin-left: 50px !important;
  margin-bottom: 50px !important;
  font-size: 20px !important;
}

.main-panel__profile-button {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.main-panel__not-registered {
  margin-top: 32px;
}

.main-panel__not-registered__text {
  margin-right: 12px;
}

.subsystem {
  width: 40% !important;
  margin: 15px !important;
}

.subsystem__image {
  margin-left: 16px !important;
}

.main-panel__user-data {
  display: inline-block;
  position: relative;
  top: 24px;
}

.main-panel__user-icon {
  margin-left: 32px !important;
}

.main-panel__user-info {
  margin-right: 32px !important;
}
