.mainpanel {
  margin-right: 16px !important;
  margin-top: 8px !important;
}

.mainpanel__user {
  float: left;
}

.mainpanel__button {
  min-height: 100px !important;
  min-width: 350px !important;
  margin-left: 50px !important;
  margin-bottom: 50px !important;
  font-size: 20px !important;
}
.subsystem {
  width: 40% !important;
  //height: 20% !important;
  margin-left: 4% !important;
  //margin-: 4% !important;
}
.subsystem__image {
  margin: 10px !important;
}
.clock__box {
  padding : 20px !important;
  text-align: center !important;
  background-color: #275aff !important;
  color : white !important;
  font-size: x-large !important;
  border-radius: 3px !important;
  border-color: #601fab !important;
  border-width: thick !important;
  height: 50% !important;
  width: 100% !important;
  //border-radius: 50% !important;
  //float : left !important;
  //margin: 10px !important;
}
.date__box {

  padding : 20px !important;
  height: 50% !important;
  width: 100% !important;
  text-align: center !important;
  background-color: #1a389d !important;
  color : white !important;
  font-size: large !important;
  border-radius: 3px !important;
  border-color: #601fab !important;
  border-width: thick !important;

}
.time__box {

}
.middle {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}