.scheduling {
  font-size: medium !important;
}
.bar__button{
   margin: 10px !important  ;
   display: inline-block !important;
}

.scheduling button {
  margin: 10px !important  ;
  display: inline-block !important;
  background-color: dodgerblue !important;
}

.scheduling table, .scheduling td, .scheduling th {
    border: 1px solid #ddd !important;
    text-align: center !important;
}


.scheduling .column__1 {
  width: 70% !important;

  text-align:right !important;

}
.scheduling .column__2 {
  width: 20% !important;
  text-align:center !important;
}
.scheduling .select__menu {
  height: 30px !important;
  display: -webkit-inline-box !important;
}
.scheduling__box .Header {
  background-color: dodgerblue !important;
   //border-radius: 15px !important;

}
.scheduling__box {
  border-radius: 35px !important;
  margin: 5% !important;
  //padding: 5px !important;
}
.scheduling__box1 {

  width: 20% !important;
 position: fixed !important;
}
.scheduling__box .body {
  -moz-border-radius-bottomleft: 35px !important;
  -moz-border-radius-bottomright: 35px !important;
  padding: 5px !important;
  //border-radius: 15px !important;
  background-color: rgb(237, 237, 237) !important;
  //border: 2px solid;
  margin: 5px !important;
}