.timing button {
  margin: 10px !important  ;
  display: inline-block !important;
  background-color: dodgerblue !important;
}

.timing table, .timing td, .timing th {
    border: 1px solid #ddd !important;
    text-align: center !important;
    //margin: 15px !important;
    //max-width: 50% !important;
}
.timing .table__header {
  background-color: rgb(232, 232, 232) !important;
}

.timing .column1{
  text-align: right !important;
  width: 70% !important;
}
.timing .column2{
  width: 20% !important;
}
.timing .Header {
  padding: 5px !important;
  //height: 30px !important;
  //font-size: large !important;
  background-color: dodgerblue !important;
  border-top-right-radius: 25px !important;
  border-top-left-radius: 25px !important;

}
.timing__box {
  border-radius: 25px !important;
  //margin: 3% !important;
  //padding: 5px !important;
}
.timing__box1 {

  //width: 100% !important;
 //position: fixed !important;
}
.timing__box .body {
  //-moz-border-radius-bottomleft: 25px !important;
  //-moz-border-radius-bottomright: 25px !important;
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  padding: 20px !important;
  text-align: justify !important;
  //border-radius: 15px !important;
  background-color: rgb(232, 232, 232) !important;
  //border: 2px solid;
  //margin: 5px !important;
}
.timing__box .buttons {
   text-align: center !important;
}
.timing .app__name {
  background-color: dodgerblue !important;
  padding: 5px !important;
  border-radius: 10px !important;
}