.timing button {
  margin: 10px !important  ;
  display: inline-block !important;
  background-color: dodgerblue !important;
}

.timing table, .timing td, .timing th {
    border: 1px solid #ddd !important;
    text-align: center !important;
    margin: 15px !important;
    max-width: 50% !important;
}

.timing .column {
  margin: 10px !important;
  border: 1px solid dodgerblue !important;
  width: 300px !important;
  padding: 10px !important;
}
