.timing button {
  color : white !important;
  margin: 10px !important  ;
  display: inline-block !important;
  background-color: dodgerblue !important;
}

.timing table, .timing td, .timing th {
    border: 1px solid #ddd !important;
    text-align: center !important;
}
.timing .table__header {
  background-color: rgb(232, 232, 232) !important;
}

.timing .column1{
  text-align: right !important;
  width: 70% !important;
}
.timing .column2{
  width: 20% !important;
}
.timing .Header {
  padding: 5px !important;
  color : white !important;
  background-color: dodgerblue !important;
  border-top-right-radius: 25px !important;
  border-top-left-radius: 25px !important;

}
.timing__box {
  border-radius: 25px !important;
}
.timing__box1 {

}
.timing__box .body {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  padding: 20px !important;
  text-align: justify !important;
  background-color: rgb(232, 232, 232) !important;
}
.timing__box .buttons {
   text-align: center !important;
}
.timing .app__name {
  color : white !important;
  background-color: dodgerblue !important;
  padding: 5px !important;
  border-radius: 10px !important;
}
.timing .buttonLog{
  width: 100% !important;
  height: 100% !important;
}
 .timing .button__bar {
   width: 260px !important;
   height: 200px !important;
 }
