.app__header__auth {
  color: white;
}

.app__header__logout {
  color: darkred;
}

.profile__submit {
  margin-top: 12px;
  text-align: left;
}

.profile-buttons {
  text-align: center;
}

.profile-buttons__personal {
  margin-left: 36px !important;
}

.add-input-right {
  margin-left: 8px !important;
}

.add-input-left {
  margin-left: 8px !important;
}

.educational-profile__degree .ui.selection.dropdown {
  z-index: 10001 !important;
}

.educational-profile__major .ui.selection.dropdown {
  z-index: 10000 !important;
}
